debug/
target/
logs/

Cargo.lock

*.csv
*.png
*.jpg
*.html
*.dhall
*.swp
*.swo
*.patch
*.txt
**/*.rs.bk
.DS_Store
*.rnx
!tests/fixtures/nav_gps_g15_g2296_2024128.rnx
!tests/fixtures/nav_mixed_2024131_first_epoch.rnx
!tests/fixtures/obs_mixed_2024131_first_epoch.rnx
*.crx
*.rs~

rinex/merge.rnx
rinex/test.crx
rinex/test.rnx
